img {
    background-image: url(//images03.nicepage.com/c461c07…/fe55cfc…/ewrrr-min.jpg);
    height: 30rem;
    max-width: 60%;
    position: fixed;
    left: 50.8rem;
    top: 8rem;
    box-shadow: 15px 15px 5px rgb(154, 149, 149); 
}


